{% extends "layout.html.twig" %}
{% set title = 'Nueva pregunta' %}
{% set active = 'preguntas' %}

{% block content %}

    <h2>{{ title }}</h2>

    <form action="{{ path('pregunta_grabar') }}" method="post" class="form">
        <label for="enunciado">Enunciado de la pregunta</label>
        <input type="text" name="enunciado"
               {% if pregunta is defined %}value="{{ pregunta.enunciado }}"{% endif %}>

        <label for="orden">Orden</label>
        <input type="text" name="orden"
               {% if pregunta is defined %}value="{{ pregunta.orden }}"{% endif %}>

        <label for="tipo">Tipo de pregunta</label>
        <select name="tipo">
            <option value="">Seleccione un tipo</option>
            {% for tipo in tipos %}
                <option value="{{ tipo.discriminador }}">{{ tipo.etiqueta }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Grabar pregunta">
    </form>

{% endblock %}