{% extends "layout.html.twig" %}
{% set active = 'preguntas' %}
{% set title = 'Lista de preguntas' %}

{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>
        <a href="/pregunta/crear">Nueva</a>
        <ul>
            {% for pregunta in preguntas %}
                <li>
                    <a href="pregunta/{{ pregunta.id }}">{{ pregunta.id }}
                        - {{ pregunta.enunciado|e }}</a>
                    - <a href="pregunta/editar/{{ pregunta.id }}">Editar</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
