{% extends "layout.html.twig" %}
{% set active = 'preguntas' %}
{% set title = 'Lista de preguntas' %}

{% block content %}

    <h2>{{ title }}</h2>
    <a type="button" class="btn btn-primary" href="{{ path('pregunta_crear') }}">
        <i class="fa fa-plus-circle"></i> Nueva pregunta
    </a>
    <hr>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Tipo</th>
        <th>Enunciado</th>
        <th>Fecha alta</th>
        <th>Fecha baja</th>
        <th></th>
        </thead>

        <tbody>
        {% for pregunta in preguntas %}
            <tr>
                <td><a href="pregunta/{{ pregunta.id }}">{{ pregunta.id }}</a></td>
                <td></td>
                <td>{{ pregunta.enunciado|e }}</td>
                <td>{{ pregunta.fecha_alta }}</td>
                <td>{{ pregunta.enunciado|e }}</td>
                <td><a href="pregunta/editar/{{ pregunta.id }}">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "paginacion.html.twig" %}

{% endblock %}
