<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title '' %} - Cuestorus</title>

        <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="assets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/main.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav">
                <li {% if 'inicio' == active %}class="active"{% endif %}><a href="{{ path('homepage') }}"><i
                                class="icon-home"></i>  {{ 'Inicio' }}</a></li>
                <li {% if 'preguntas' == active %}class="active"{% endif %}><a href="{{ path('preguntas') }}"><i
                                class="icon-dashboard"></i> Preguntas</a></li>
            </ul>
            <ul class="nav pull-right">
                <li {% if 'me' == active %}class="active"{% endif %}><a href="#"><i
                                class="icon-user"></i> Mi perfil</a></li>
                <li><a href="#">{{ 'Logout' }}</a></li>
                <li {% if 'login' == active %}class="active"{% endif %}><a href="#"><i
                                class="icon-user"></i> {{ 'Login' }}</a></li>
            </ul>
        </div>
        </div>
        {% block content %}{% endblock %}
    {% include "footer.html.twig" %}
    </body>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</html>
